/*---------------------------------------------------------*/

.page {
  min-width: 1100px;
  /* мы ещё не умеем делать мобильную версию сайта, */
  /* поэтому выше установлена минимальная ширина страницы */
  max-width: 1600px;
  /* выше установили ограничение по максимальной ширине */
  margin: 0 auto;
  /* выше для экранов больше 1600px отцентрировали весь контент */
  font-family: 'Helvetica Neue', Arial, sans-serif;
  display: flex;
  flex-direction: column;
}

.flex-row {
  display: flex;
  height: 100%;
}

.logo {
  width: 228px;
  height: 32px;
}

.link {
  color: #2f80ed;
}

/* Text */

.text_25_18_400 {
  line-height: 25px;
  font-size: 18px;
  font-weight: 400;
}

.text_1-2_18_400 {
  line-height: 1.2;
  font-size: 18px;
  font-weight: 400;
}

.text_34_24_400 {
  line-height: 34px;
  font-size: 24px;
  font-weight: 400;
}
/* Header */

.header {
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  /* выше установили ограничения для секции */
  position: relative;
  display: flex;
  align-items: center;
  background-color: #f2f2f2;
}

.logo_place_header {
  top: 30px;
  left: 64px;
  position: absolute;
  z-index: 2;
}

.header__title {
  margin-left: 64px;
  width: 730px;
  line-height: 96px;
  font-size: 102px;
  font-weight: 600px;
}

.header__subtitle {
  width: 400px;
  position: absolute;
  left: 64px;
  bottom: 30px;
}

.header__square-pic {
  height: 568px;
  width: 568px;
  background-color: #2f80ed;
  position: absolute;
  top: 64px;
  right: 0;
}

.header__main-illustration {
  width: 765px;
  height: 608px;
  position: absolute;
  bottom: 0;
  right: 0;
}

/* Description */

.description {
  margin-top: 100px;
  display: flex;
  justify-content: center;
}

.two-columns {
  display: flex;
  width: 80%;
  min-width: 784px;
  justify-content: space-between;
}

.two-columns__brief {
  color: #2f80ed;
  width: 175px;
}

.two-columns__main-text {
  width: 75%;
}

.two-columns__paragraph {
  margin-top: 30px;
}

.two-columns__paragraph:first-of-type {
  margin-top: 0;
}

.two-columns__span-accent {
  line-height: 34px;
  font-size: 24px;
  font-weight: 600;
}

/* и элемента с модификатором вида ключ-значение */
.table__cell_theme_dark {
  width: 200px;
  color: white;
  margin-right: 0;
  margin-top: 80px;
}
